/*全端末共通スタイル*/
html{
  background-color: #1a1f20;
  font-family: "Lexend Exa", "Zen kaku Gothic Antique", Meiryo, Arial, sans-serif;
  color: white;
  text-align: center;
}

/*フォント*/
.lexend-exa {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.zen-kaku-gothic-antique-regular {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 100%;
}

.light-topbar {
  width: 100%;
  height: 0.5rem;
  border: none;
  background: linear-gradient(to right, #004F59, #00E5D8, #004F59);
  margin: 0;
}

.inlinewrap{
  display: block;
  margin-left: 4rem;
}

  /*スマートフォン版*/

/*横幅設定*/
@media screen and (max-width: 767px) {
body {
  min-width: 375px;
  margin: 0;
  background-color: #1a1f20;
  color: white;
  margin: 0 auto;
}

/*ヘッダー*/
header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a1f20;
}

.navarea{
  display: flex;
  justify-content: space-between;
}

.logoarea {
  width: 100%;
  display: inline-block;
  justify-content: space-between;
  background-color: #1a1f20;
}

#logo {
  width: 18rem;
  padding-inline: 1.5rem;
  margin: 1.5rem;
}

/*PC用ナビゲーション非表示*/
#nav-pc {
  display: none;
}

/*ハンバーガーメニュー（スマホ版）*/
.hamburger-menu{
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  width: 4.5rem;
  float: right;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu img {
  margin-left: 1rem;
}

nav{
  padding-inline: 3rem;
  text-align: left;
}

/*スマホ用ナビゲーションの表示切替*/
/*初期状態、レイアウトと非表示設定*/
#nav-sp {
  background-color: #2a3638;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 100;
  overflow-y: auto;
  }

/*xボタン*/
.close {
  width: 4rem;
  height: 4rem;
  display: block;
  align-items: flex;
  position: inherit;
  top: 0.5rem;
  right: 0.5rem;
}

/* awesomeの＞ボタン導入 (スマホ版のみ、ホバーを無くして＞でリンクに飛ぶようにする）
arrow{
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
}*/

.search-box{
  display: flex;
  align-items: center;
  position: relative;
  width: 80%; /* 希望する幅に設定 */
  height: 50px; /* 希望する高さに設定 */
  padding: 10px; /* 内側の余白を設定 */
  margin-block: 5px;  /* 外側の余白を設定 */
  background-color: #1a1f2096; /* 背景色を設定（オプション） */
  border: 1px solid #1a1f20; /* 境界線を設定（オプション） */
}

#search-query{
  width: 85%;
  left: 4rem;
  top: 1rem;
  padding: 10px;
  padding-inline: 1rem;
  background-color: #d0f9ffbb;
}

.search-icon {
  display: flex;
  width: 2.5rem;
  height: 2rem;
  margin-inline: 1rem;
  background-color: #1a1f2096;
  border: #1a1f2096;
}

/*ナビゲーションメニュー*/
.category {
  font-size: 25px;
  color: #3EFFF3;
  margin: 4rem 0 0 0;
}

/*ナビゲーションのリンクの装飾設定*/
#nav-sp > a {
  display: block;
}
#nav-sp > a:link {
  color: #ffffff;
}
#nav-sp > a:visited {
  color: #ffffff;
}
#nav-sp > a:hover {
  color: #ffffff;
  text-decoration: underline;
}
#nav-sp > a:active {
  color: #ffffff;
}

#nav-sp >.menu {
  text-decoration: none;
  display: block;
  margin: 18px;
  font-size: 18px;
}


/*--------メイン(SP)----------*/
  /* cover */
  .cover {
    width: 100%;
    height: 100%;
  }

  /* カテゴリ（セクション） */
  .sec{
    padding-inline: 1rem;
  }
  /* バー */
  .light-mainbar {
    width: 100%;
    height: 0.3rem;
    margin: 0;
    display: inline-block;
    border: none;
    background: linear-gradient(to right, #004F59, #8Dfff8, #004F59);
    }
  
     /* カテゴリ共通 */
  .title-wrapper {
    display: flex;
    align-items: baseline;
  }

  .title-wrapper-1 {
    display: flex;
    align-items: baseline;
    margin: 0;
  }

  .title {
    width: 60%;
    font-size: 1.7rem;
    letter-spacing: 6px;
    margin: 15 0px;
  }

  .title-1 {
    display: block;
    font-size: 1.5rem;
    letter-spacing: 5px;
    padding-inline-start: 0.5rem;
    margin: 0;
  }
          
  .title-2 {
    display: block;
    text-align: left;
    font-size: 1.2rem;
    margin: 10px;
  }

  .title-3 {
    display: block;
    font-size: 1.7rem;
    letter-spacing: 10px;
    margin: 1rem 0;
  }

  .subtitle {
    display: block;
    color: #ffffff65;
    font-size: 1.2rem;
    padding-left: start;
  }

  .subtitle-1 {
    display: block;
    color: #ffffff65;
    font-size: 20px;
    margin-left: 20px;
  }

  .category-wrapper {
    display: block;
    margin: 5px;
  }
  
  .category-wrapper .title {
    font-weight: bold;
    margin: 0;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
  }

  .category-wrapper span {
    font-size: 0.9rem;
  }

  
  /* 説明枠（白い枠線） */
  .descarea {
      border: 1px solid #ffffff;
      padding: 1rem;
      margin: 1rem 0;
    }

    .descarea-1 {
      border: 1px solid #ffffff;
      padding: 0.5rem;
      margin: 1rem 0;
      text-align: left;
    }
  
    .description {
      font-size: 1rem;
      padding: 0.5rem;
    }

    .description-1 {
      font-size: 1.3rem;
      padding: 0.5rem;
      margin: 0;
    }

    .description-2 {
      font-size: 16px;
      color: #319BB2;
      padding: 0.5rem;
    }
    
    .date {
      font-size: 12px;
      text-align: end;
      padding-inline-end: 20px;
      margin-bottom: 1rem;
    }

   .subcomment {
    font-size: 13px;
    display: flex;
    text-align: right;
    padding-inline-start: 1rem;
   }

   .desclist-left {
    display: block;
    text-align: left;
    margin: 0;
   }

   .desclist-left p {
    margin: 0 0 10px 0;
    padding-left: 0.5rem;
   }

   .boldtitle {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
   }

   .descarea > img {
    width: 10rem;
    margin: 1rem 0;
   }

   .setsec {
    display: flex;
   }

   .setsec > .descarea {
    width: 50%;
   }

   .block {
    display: block;
    padding: 1rem;
   }

   /* もっとみる・詳細へなどに飛ぶ青いボタン */
  .move {
    background-color: #319BB2;
    color: #3EFFF3;
    letter-spacing: 3px;
    padding: 10px 20px;        /* ボタンの内側の余白 */
    border: none; /* ボーダー */
    border-radius: 5px;        /* ボタンの角を丸くする */
    font-size: 12px;
    font-weight: bold;           /* 文字のサイズ */
    cursor: pointer;           /* カーソルをポインタにする */
    transition: background-color 0.3s, color 0.3s; /* アニメーションの効果 */
    margin: 0.5rem;
  }
  
  .move:hover {
    background-color: #8Dfff8; /* ホバー時の背景色 */
    color: #004F59;            /* ホバー時の文字色 */
  }

  /* カルーセル */
  .slide {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    z-index: 200;
  }

  .sliderArea.w300 {
    max-width: 300px;
  }
  .slick-slide {
    margin: 0 5px;
  }
  .slick-slide img {
    width: 100%;
    height: auto;
  }
  .slick-prev, .slick-next {
    z-index: 1;
  }
  .slick-prev:before, .slick-next:before {
    color: #000;
  }
  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  .slick-active {
    opacity: 1;
  }
  .slick-current {
    opacity: 1;
  }
  .thumb {
    margin: 20px 0 0;
  }
  .thumb .slick-slide {
    cursor: pointer;
  }
  .thumb .slick-slide:hover {
    opacity: .7;
  }
  
/* SNSエリア */
.snsarea {
  display: flex;
}

  /*フッター（SP）*/
  .footerzone {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .footerzone img {
    width: 18rem;
    margin: 50px;
  }
  
  .ft-contactarea {
   padding-inline: 2.5rem;
   text-align: start;
  }

  .ft-contactarea p {
    font-size: 0.8rem;
  }

  .ft-contactarea span {
    font-size: 0.6rem;
    margin: 0;
  }

  .ft-centerarea {
    display: block;
   text-align: center;
   margin: 6rem 0 0 0;
  }

  .ft-centerarea p {
    font-size: 0.8rem;
   }

   .ft-centerarea span {
    font-size: 0.7rem;
   }

  footer > .light-mainbar {
    width: 100%;
  }

  .copyright {
    margin: 4rem 0 1rem 0;
  }
  
/* プルのときつかえるかも */
 pull{
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
}
}
/* PC版 */
    @media screen and (min-width: 768px) {

    }
  